#main{
    background-color: #f5f8fa;
    min-height: 585px;
    display: block;
    margin: auto;
    margin-top: -22px;
    width: 90%;
}
/*Profile*/
#profile{
    width: 26%;
    background-color: #f5f8fa;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    min-height: 585px;
}
#info{
    margin: auto;
}
#username{
    /*margin: auto;*/
    text-align: center;
}
#username h3{
    font-size: 30px;
}
#profile img{
    display: block;
    margin: auto;
    max-height: 250px;
    width: 96%;
}
#form_update{
    display: block;
    margin: auto;
    padding: 5px;
}
#submit_img{
    display: block;
    margin-top: 5px;
}
#link_img{
    display: block;
    margin-top: 5px;
}
/*Content*/
#content1{
    width: 73%;
    background-color: #f5f8fa;
    display: inline-block;
    vertical-align: top;
}

#function{
    background-color: #f5f8fa;
    min-height: 30px;
    font-size: 18px;
    border-bottom: 1px solid #3097d1;
}
#function ul{
    padding: 0px 5px 5px 0px;
    list-style-type: none;
    margin: 0;
}

#function li {
    display: inline-block;
}

#function li a{
    min-height: 40px;
    padding: 8px 16px; 
    background-color: #f5f8fa;
}
#function li a:hover{
    background-color: #555;
    color: white;
    text-decoration: none;
}
.navtext{
    background-color: #f5f8fa;
    color: #555;
    text-decoration: none;
}
#function_handle{
    background-color: #ffffff;
    padding: 5px 20px;
}

